/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 15px 0;
}

.web-logo-l {
    margin-left: -6% !important;
}

.section-l {
    background-image: url(../images/Background.jpg);
}

.section-b {
    padding: 40px 0;
    background-color: #191919;
}

.section-l-w {
    padding: 170px 0;
    background-color: white;
}

.section-l-t {
    padding: 40px 0;
    background-color: #191919;
    /* background-image:url(../images/Background.jpg); */
}

.abc {
    background-image: url(../images/Stripe_01.png);
    background-color: #191919;
    padding: 122px 0;
}

.center {
    margin: 10px;
    margin-left: 250px;
    width: 50%;
    text-align: center;
}

.pqr {
    background-image: url(../images/Stripe_02.png);
    background-color: #191919;
    padding: 122px 0;
}


.sidebar {
    margin-top: 40px;
}

    .sidebar ul {
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #cccccc;
    }

/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
    margin-top: 27px;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}

/* Pricing Page Styles */
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.button3 {
    display: inline-block;
    padding: 0.4em 1.1em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    text-align: center;
    transition: all 0.2s;
    border: 2px solid #56EDE9;
    float: left;
    cursor: pointer !important;
    box-shadow: 5px 10px black;
    color: #56EDE9;
    font-family: Helvetica;
    font-size: 16px;
  
}


.button3:hover {
    background: #919292;
    color:black;
    
}

    .button3:focus {
        background: #56EDE9;
        color: black;
    }

a.button2 {
    cursor: pointer !important;
    display: inline-block;
    padding: 0.46em 1.6em;
    margin: -14px -17px;
    border-radius: 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
    border: 2px solid;
    border-color: #56EDE9;
    box-shadow: 5px 10px black;
    color: #56EDE9;
    box-shadow: 5px 10px black;
    font-family: Helvetica;
    font-size: 16px;
}

    a.button2:hover {
        background: #919292;
        color:black;
    }
    a.button2:focus {
        background: #56EDE9;
        color:black;
    }

a.button4 {
    cursor: pointer !important;
    display: inline-block;
    padding: 0.46em 0.6em;
    margin: -18px -4.8em -1.8em 21px;
    border-radius: 1.2em;
    box-sizing: border-box;
    text-decoration: none;   
    background-color: black;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    box-shadow: 5px 10px black;
    font-family: Helvetica;
    font-size: 16px;
}


a.button4:hover {
    background: #919292;
    color: black;
}

a.button4:focus {
    background: #56EDE9;
    color: black;
}

.sec-fif {
    display: inline-block;
    padding: 0.2em 4em;
    border-radius: 5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibiri',Regular;
    font-weight: 300;
    color: #FFFFFF;
    background-color: white;
    transition: all 0.2s;
    color: #56EDE9;
    cursor: pointer !important;
    box-shadow: 5px 10px black;
}





/* Footer Styles */
footer {
    margin: 15px 0;
}

.f-background {
    background-color: #191919;
}

.add-f {
margin:0px 0px 0px 0px;
}
/* Responsive Styles */
@media (max-width: 767px) {
    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}
