/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
    height: 100%;
}



.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 15px 0;
	
    /* margin: 25px; */
    margin-top: 85px !important;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: white;
}

.button3 {
    display: inline-block;
    padding: 0.4em 1.1em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibri',Regular;
    color: #FFFFFF;
    background-color: black;
    text-align: center;
    transition: all 0.2s;
    border: 2px solid #56EDE9;
    color: #56EDE9;
    float: left;
    cursor: pointer !important;
    box-shadow: 5px 10px black;
}

a.button2 {
    cursor: pointer !important;
    display: inline-block;
    padding: 0.46em 1.6em;
    margin: -14px -17px;
    border-radius: 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibiri',Regular;
    /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
    font-family: 'Calibiri',Regular;
    background-color: black;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    box-shadow: 5px 10px black;
}

a.button4 {
    cursor: pointer !important;
    display: inline-block;
    padding: 0.46em 0.6em;
    margin: -18px -4.8em -1.8em 21px;
    border-radius: 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibiri',Regular;
    /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
    font-family: 'Calibiri',Regular;
    background-color: black;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    box-shadow: 5px 10px black;
}

.sec-fif {
    display: inline-block;
    padding: 0.2em 4em;
    border-radius: 5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Calibiri',Regular;
    font-weight: 300;
    color: #FFFFFF;
    background-color: white;
    transition: all 0.2s;
    color: #56EDE9;
    cursor: pointer !important;
    box-shadow: 5px 10px black;
}

.footer-color {
    color: #FFFFFF;
    font-family: Calibri
}

/* Footer Styles */
footer {
    margin: 15px 0;
}

.f-background {
    background-color: #191919;
}

.add-f {
margin:0px 0px 0px 0px;
}

.common-f {
    color: #56EDE9;
    font-size: 24px;
    text-align: left justify;
}

.common-sub-f {
    font-size: 18px;
    text-align: left justify;
}

/* Responsive Styles */
@media (max-width: 767px) {

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }
}
