﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADSAKI </title>
    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="../Content/modern-business.css" rel="stylesheet">

    <link rel="stylesheet" href="../Content/style.css" />




    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet">





</head>
<style>
    .thumbnail {
        position: relative;
        overflow: hidden;
        background-color: transparent;
        margin-bottom: 0;
    }

    ul.dashed {
        list-style-type: none;
        text-align: left;
        font-size: 16px;
        color: white;
    }

        ul.dashed > li:before {
            content: '\2014';
            position: absolute;
            margin-left: -21px;
        }

    .h1-banner {
        line-height: 1em;
        margin: 0 0 1em 0;
    }

    .caption {
        transition: all .2s ease;
        position: absolute;
        top: -100%;
        right: 0;
        /*background:rgba(66, 139, 202, 0.75);*/
        background: rgba(67, 67, 67, 0.75);
        width: 100%;
        height: 100%;
        padding: 2%;
        text-align: center;
        color: #fff !important;
        z-index: 2;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .thumbnail:hover .caption {
        top: 0%;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }



    .container1:hover .image {
        opacity: 0.3;
    }

    .container1:hover .middle {
        opacity: 1;
    }

    .text {
        background-color: rgba(0,59,131,1);
        ;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }



    #quote-carousel {
        padding: 0 10px 30px 10px;
        margin-top: 60px;
    }

        #quote-carousel .carousel-control {
            background: none;
            color: #CACACA;
            font-size: 2.3em;
            text-shadow: none;
            margin-top: 30px;
        }

        #quote-carousel .carousel-indicators {
            position: relative;
            right: 50%;
            top: auto;
            bottom: 0px;
            margin-top: 20px;
            margin-right: -19px;
        }

            #quote-carousel .carousel-indicators li {
              width: 41px;
                height: 50px;
                 cursor: pointer;
                 border: 0px solid #ccc;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                border-radius: 0%;
                opacity: 0.4;
                overflow: hidden;
                transition: all .4s ease-in;
                vertical-align: middle;
            }

            #quote-carousel .carousel-indicators .active {
                width: 128px;
                height: 128px;
                opacity: 1;
                transition: all .2s;
            }

    .item blockquote {
        border-left: none;
        margin: 0;
    }

        .item blockquote p:before {
            content: "\f10d";
            font-family: 'Fontawesome';
            float: left;
            margin-right: 10px;
        }

    .test {
        width: 100px;
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
        border: 1px red solid;
    }


    .container-slide {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0
    }

        .container-slide::after {
            content: "";
            clear: both;
            display: table;
        }

        .container-slide img {
            float: left;
            margin-right: 20px;
            border-radius: 50%;
        }

        .container-slide span {
            font-size: 2px
        }


        .container-slide img {
            margin: auto;
            float: none;
            display: block;
        }

    }


    .bannerspecial {
        font-size: 52px;
        line-height: 1em;
        margin: 0 0 1em 0;
        background-color: black;
    }

    .text {
        background-color: rgba(0,59,131,1);
        color: white;
        font-size: 16px;
        padding: 16px 32px;
    }


    .card {
        width: 300px;
        height: 200px;
        margin: 10px;
    }

    .front, .back, .other-front, .other-back {
        border: 2px gray solid;
    }

    .front, .other-front {
        background:linear-gradient(135deg, black ,#333 100%,#ccc 100%);
    }

    .back, .other-back {
        background-color: #008080;
    }
</style>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand text-left col-xs-9 col-lg-12" href="../main/index.html">
                    <img class="img-responsive-f" src="../images/logo.png" border="0" alt="Adsaki" title="Adsaki" style="width:45% !important;height:250% !important;" />
                    <img class="visible-lg" src="../images/logo.png" border="0" alt="Adsaki" title="Adsaki" height="63" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- <li><a href="services.html">Services</a> </li> -->


                    <li><a href="../main/services.html">Services</a> </li>
                    <li><a href="../main/Partners.html">Partners</a> </li>
                    <li><a href="../main/about.html">About</a> </li>
                    <li><a href="../main/contact.html">Contact Us</a> </li>
                   

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url(../images/manhattan.jpg);"></div>
                <div class="carousel-caption">
                    <h3 style="background-color:black">Business Development </h3>
                    <h3 style="background-color:black">-expanding your business capacity in domestic and international markets</h3>
                </div>
            </div>

        </div>
        <!-- Controls -->
    </div>


    <!--for services -->
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- three icons starts here -->
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <p></p>
                    <div class="text-center">
                        <p>Adsaki specializes in business development services for startups and SMEs.</p>
                    </div>
                    <div class="row">
                        Apply today to see if you qualify:
                        <a href="../main/Services.html"><button class="btn btn-primary btn-send">Services</button></a>
                    </div>
                    <p></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div id="servicecard1">
                        <div class="front">
                            <h3 class="text-center-flip">Startups</h3>
                        </div>
                        <div class="back">
                            <h3 style="color:white;font-size:20px;text-align:center;">
                                Exclusive access to
                            </h3>

                            <ul class="dashed">
                                <li>investments</li>
                                <li>
                                    global accelerator programs
                                </li>

                                <li>business development expertise</li>
                                <li>first key customer accounts</li>
                                <li>industry partnerships</li>
                                <li>… and more.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                    <div id="servicecard2">
                        <div class="front">
                            <h3 class="text-center-flip">SME</h3>
                        </div>
                        <div class="back">
                            <h3 style="color:white;font-size:20px;text-align:center;">
                                Exclusive access to
                            </h3>

                            <ul class="dashed">
                                <li>
                                    new customer accounts
                                </li>
                                <li>
                                    wholesale accounts
                                </li>

                                <li>distributors / licensing deals</li>
                                <li>joint venture / M&A</li>
                                <li>foreign markets</li>
                                <li>… and more.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- three icons ends here -->


            </div>
        </div>
    </div>




    <!--New Code for Flip partner-->

    <div class="section" style="display:block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Become a Partner</h2>
                    <hr>
                </div>
                <div class="text-center"><p>Adsaki works with a number of international partners such as incubators/accelerators, business development firms and investors.</p></div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div id="card2">
                        <div class="front">
                            <h3 class="text-center-flip">Business Development Firms</h3>
                        </div>
                        <div class="back">
                            <h3 style="color:white;font-size:20px;text-align:center;">
                                Partner with Adsaki
                            </h3>

                            <ul class="dashed">
                                <li>Access new collaborative opportunities with our International clients</li>
                                <li>
                                    Gain proximity to Canada/US markets via our connections
                                </li>
                                <li>
                                    No upfront costs to become a member
                                </li>
                                <li>Mutually rewarding</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div id="card">
                        <div class="front">
                            <h3 class="text-center-flip"> Investors</h3>
                        </div>
                        <div class="back">
                            <h3 style="color:white;font-size:20px;text-align:center;">
                                Partner with Adsaki
                            </h3>

                            <ul class="dashed">
                                <li>Gain access to our pool of exclusive International investment opportunities. </li>
                                <li>
                                    Latest cutting edge innovation from a variety of industry verticals.
                                </li>

                                <li>No upfront costs to become a member.</li>
                                <li>Mutually rewarding.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div id="card3">

                        <div class="front">
                            <h3 class="text-center-flip"> Incubators/Accelerators</h3>
                        </div>
                        <div class="back">
                            <h3 style="color:white;font-size:20px;text-align:center;">
                                Partner with Adsaki
                            </h3>
                            <ul class="dashed">
                                <li>
                                    Gain visibility/access to an International business community and ecosystem.
                                </li>
                                <li>
                                    Preferred rates on Adsaki services for your </br>startups.
                                </li>
                                <li>
                                    No upfront costs to become a member.
                                </li>
                                <li>Mutually rewarding.</li>

                            </ul>
                        </div>
                    </div>
                </div>


            </div>

            <!-- /.row -->
        </div>
    </div>


    <div class="section">
        <div class="container" style="display:block">
            <div class="row">
                <div class="col-lg-12  text-center">
                    Apply today to see if you qualify:
                    <a href="../main/partners.html">
                        <button class="btn btn-primary btn-send" ahref="../main/partners.html;">Partners</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">

        <div class="container" style="display:block">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Results delivered</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>“Founder Kamal Dhanoa is a business-tigress. What Kamal Dhanoa has built here will empower businesses to pave a clear path to increased revenue.”</p>
                                            <small>
                                                Startup Confidential author, CEO, 5-Time EMMY Award Winner - Paul Wagner

                                            </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>
                                                “India-based corporate entities seeking expansion or market entry research in Canada and United States can count on Adsaki. ICBC's association with Adsaki has proven advantageous to several companies and investors across all sectors.”
                                            </p>
                                            <small>
                                                Business Director (International Policy & Advocacy)/ICBC -Shouvik Nag
                                            </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <p>“We provide Go-To-Market and Business Excellence Services.The founder has over 25 years experience of working with Multinationals such as Cisco Systems, Alcatel-Lucent, and Hewlett Packard in leadership roles across India and Asia.Delighted to be an Adsaki partner for India and Southeast Asia. ”</p>
                                            <small>
                                                CEO / Concort Growth Services -Shekhar Agrawal
                                            </small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active">
                                <img class="img-responsive " src="../images/book.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="1">
                                <img class="img-responsive" src="../images/shouvik.jpg" alt="">
                            </li>
                            <li data-target="#quote-carousel" data-slide-to="2">
                                <img class="img-responsive" src="../images/concort.png" alt="">
                            </li>
                        </ol>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

        </div>


        <!-- /.section -->
        <div class="section-colored" style="display:none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h2>Business Services:</h2>
                        <hr>
                        <ul>
                            Startups: If you’re a serious and reputable startup with proven traction.
                            <li>
                                Access to fundraising, investments, global accelerator programs, business development consulting, etc.
                            </li>
                        </ul>
                        <ul>
                            SMEs: If you’re an experienced, successful and reputable business looking for new revenue generating or growth opportunities.
                            <li>
                                Access to opportunities such as joint venture, merger/acquisition, sales contract, wholesale accounts, distributors, licensing deals, etc.
                            </li>
                        </ul>


                        <div class="row">
                            <p>To see if you qualify, submit your application today: “Services”</p>
                            <button class="btn btn-primary btn-send">Services</button>
                        </div>
                        </br>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h2>Become an Adsaki International Partner:</h2>
                        <hr>
                        <ul>
                            Incubator/Accelerators: If you’re a professional “new” or “reknown and experienced” incubator/accelerator.
                            <li>
                                Access to international visibility, global best practices and networking opportunities. In addition to providing your most successful startups access to our International business development services
                            </li>
                        </ul>
                        <ul>
                            Business Development Firms: If you’re a highly professional and reputable business development firm with sound experience, proven results, and impeccable customer service.
                            <li>Become our affiliate partner and access collaborative opportunities from our International clients.</li>
                        </ul>
                        <ul>
                            Investors: If you’re a serious investor with a minimum of $200K US to invest.
                            <li>
                                Access our pool of exclusive International investment opportunities. The latest cutting edge innovation from a variety of industry verticals.

                            </li>
                        </ul>


                        </br>


                    </div>
                    <div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section-colored -->
        <!-- /.section -->
        <div class="section text-center">
            <div class="container" style="display:block">

                <div class="col-lg-12">
                    <h2>Reach Out:</h2>
                    <hr>
                    <p>
                        If you’re a startup with traction, or an experienced SME looking for business growth in your domestic market or internationally -
                        “Let us facilitate your success, we would like to hear from you.”


                    </p>
                </div>

                <div>
                    <a href="../main/contact.html">
                        <button type="button" style="color: #fff;
            background-color: #008080;
            border-color: #357ebd;padding: 10px 16px;
            font-size: 18px;
            line-height: 1.33;
            border-radius: 6px;margin:auto;display:block">
                            Contact Us
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="navbar-default-f">

        <footer>
            <!-- <div class="row"> -->
            <!-- <div class="col-lg-3"> -->
            <!-- <h4 style="padding:5px 10px; color:#000000; border-radius:2px;">Terms & Conditions</h4> -->
            <!-- </div> -->
            <!-- <div class="col-lg-3"> -->
            <!-- <h4 style="padding:5px 10px; color:#000000; border-radius:2px;">FAQ</h4> -->
            <!-- </div> -->
            <!-- <div class="col-lg-3"> -->
            <!-- <h4 style="padding:5px 10px; color:#000000; border-radius:2px;">Privacy</h4> -->
            <!-- </div> -->
            <!-- <div class="col-lg-3"> -->
            <!-- <h4 style="padding:5px 10px; color:#000000; border-radius:2px;">Copyright</h4> -->
            <!-- </div> -->
            <!-- </div> -->
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <strong style="color: #f5f5f5;
                font-weight: 400;">&copy; 2019 Adsaki,Inc. | All Rights Reserved.</strong>
                    <span>privacy policy</span>
                    <span>Terms Of Use</span>
                </div>

        </footer>
    </div>
    <!-- /.container -->
    <!-- JavaScript -->
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/krebszattila/jquery-flipbox/master/src/jquery.flipbox.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/modern-business.js"></script>
    <script async>
        // Autoplay

        $(document).ready(function () {
            $("#card").flip();
            $("#card2").flip();
            $("#card3").flip();
              $("#servicecard2").flip();
                    $("#servicecard1").flip();

        });

    </script>



</body>
</html>
